*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100%;
    background-image: url(./wallpaper.jpg);
    border: 10px solid rgb(54, 24, 44);
    border-radius: 20px;
}

.heading{
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 410px;
}


#search{
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 95px;
    margin-left: 500px;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
    font-style: normal;

}

.temperature{
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 155px;
    margin-left: 540px;
    font-size:22px;
    display: flex;
    gap: 10px;
}
#search:hover{
    background-color:rgb(56, 30, 56);
    color: rgb(245, 232, 232);
    cursor: pointer;
}